

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top" style="height: 60px;">
    <div class="container-fluid px-3">
<a class="navbar-brand d-flex align-items-center text-white text-decoration-none" href="/" style="font-weight: 600; font-size: 20px;">
    <img src="https://trityenviro.com/assets/setting/environmental-impact-assessment-eia-online1.png" width="36" height="36" class="me-2 rounded-circle border border-white border-2">
    <span>EcoAnalyzer</span>
</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-home me-1">
                            <path fill-rule="evenodd" d="M8 3.293l6 6V13a1 1 0 01-1 1h-3v-3H6v3H3a1 1 0 01-1-1v-3.707l6-6z"></path>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/form">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-search me-1">
                            <path fill-rule="evenodd" d="M11.742 10.344a6.5 6.5 0 111.397-1.398l3.85 3.85a1 1 0 01-1.414 1.414l-3.85-3.85zM12 6.5a5.5 5.5 0 11-11 0 5.5 5.5 0 0111 0z"></path>
                        </svg>
                        Analyze Product
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/form/all-products">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-list-unordered me-1">
                            <path fill-rule="evenodd" d="M2 3.5a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0 4a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0 4a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5z"></path>
                        </svg>
                        All Products
                    </a>
                </li>
                <% if(currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/dashboard/impact">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-graph me-1">
                            <path fill-rule="evenodd" d="M0 0h1v15H0V0zm2 10h1v5H2v-5zm2-4h1v9H4V6zm2-2h1v11H6V4zm2-2h1v13H8V2zm2-2h1v15h-1V0z"></path>
                        </svg>
                        Impact Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/compare">
