<% layout('layout/boilerplate.ejs') %>

<form action="/update-password" class="needs-validation container m-3" novalidate>
    <label for="currentPassword" class="form-label">Current Password</label>
    <input type="password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Enter Your Current Password">

    <label for="newPassword" class="form-label">New Password</label>
    <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Enter Your New Password">

    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">

    <button class="btn btn-primary m-3">Update Password</button>
</form>