<% layout('layout/boilerplate.ejs') %>

<div class="container">
    <% for(let product of products){ %>
        <li class="text-primary"><a href="/form/show-products/<%= product._id %>"> <%= product.name %> </a></li>
    <% } %>
</div>